includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 6

    paths:
        - config
        - src

    configDirectories:
        - config

    tmpDir: build/phpstan
